@{
    ViewBag.Title = "Acerca de SEPRET";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="info">
    <p class="text-justify">SEPRET&copy; es desarrollado y mantenido por <a href="#">Francisco Robles Ramírez</a> todos los derechos reservados.</p>
</div>

