
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div id="accordion" role="tablist">
    <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="material-icons"> question_answer</span>No puedo ingresar a la plataforma.
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                Normalmente este error, se debe a que, no se esta ingresando de manera correcta los datos de acceso como son correo y contraseña.
                Tienes que respetar mayusculas, minusculas y/o signos. Ejemplo: Correo: anonimo@matehuala.tecnm.mx Contraseña: C0ntraseña_123
            </div>
        </div>
    </div>


    <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="material-icons"> question_answer</span>¿Como recupero mi usuario y contraseña?
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Para estos casos, se creo un apartado para reestablecer tu contraseña, en este al terminar el proceso de reestablecimiento te indica a que correo se te enviará el reestablecimiento de contraseña.
                Enlace para reestablecimiento de contraseña: <a style="color: seagreen" href="@Url.Action("PaswordRecovery", "Home")"> Contraseña olvidada</a>
                <p>Al final del reestablecimeinto de la contraseña, se te indica que correo diste de alta, este correo, te indica que es con el que ingresaras a la plataforma.</p>
            </div>
        </div>
    </div>


    <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span class="material-icons"> question_answer</span>¿Cual es el proceso para darme de alta en la plataforma?
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                Tendras que ingresar al apartado de <a class="text-success" href="@Url.Action("SignUp","Home")"> Crea una cuenta. </a> Aqui deberas seguir los pasos que son,
                ingresar los datos que se te van solicitando, de preferencia usar tu correo institucional.
            </div>
        </div>
    </div>


    <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingFour">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <span class="material-icons"> question_answer</span>¿Cual es mi correo institucional?
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                El correo institucional se compone de ser tu numero de control, ejemplo: L20660000@matehuala.tecnm.mx
            </div>
        </div>
    </div>


    <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingFive">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <span class="material-icons"> question_answer</span> No tengo acceso a mi correo institucional. Olvide mi contraseña.
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                Para este caso tendras que ingresar a la plataforma o pagina de <a style="color: seagreen" href="https://outlook.live.com/"> outlook.live.com</a> Deberas ingresar al apartado
                de "He olvidado mi contraseña". Y seguir los pasos que se te van indicando.
            </div>
        </div>
    </div>


    <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingSix">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <span class="material-icons"> question_answer</span> En mi correo institucional no me permite reestablecer mi contraseña. No tengo el numero de telefono que di de alta. No tengo acceso al correo de autentificación.
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </h5>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                Si, ninguna de estas opciones te funciono, podras mandarnos un correo a <a style="color: seagreen" href="mailto:comentarios@matehuala.tecnm.mx?Subject=Cuenta%20de%20correo%20institucioanl">comentarios@matehuala.tecnm.mx</a>
            </div>
        </div>
    </div>


    <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingSeven">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <span class="material-icons"> question_answer</span> ¿Como es el proceso para poder hacer mi pago y subirlo a la plataforma?
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </h5>
        </div>
        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                Para esto te indicamos una serie de videos que son los siguientes
                <p> <a href="https://www.youtube.com/watch?v=x9KBTO4DFss&t=5s"> Video Explicativo</a></p>
            </div>
        </div>
    </div>


    <div class="card card-collapse">
        <div class="card-header" role="tab" id="headingEight">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    <span class="material-icons"> question_answer</span> No me ha llegado mi horario. No avanza de etapa mi pago. 
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </h5>
        </div>
        <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
                Recordamos que tenemos una cantidad de alumnos aproximada de 1,500, por lo cual es imposible atender a todos de inmediato.
                ¿Por qué? De acuerdo a la actual situacion de la pandemia, se implementó este sistema de SEPRET con el fin de agilizar y proteger al alumno por el COVID-19.
                Se tiene un proceso de revision de su voucher de pago y acreditacion del mismo, esto para los 1,500 alumnos. En ocasiones la calidad de la foto o la poca visibilidad del mismo
                afecta directamente para el proceso.
                Al finalziar el proceso de Aceptacion/Facturacion este se envia al dpto de Servicios Escolares el cual se encarga de enviar tu horario.
            </div>
        </div>
    </div>


</div>

