@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h1 class="title">Aviso de Privacidad y confianza del Instituto Tecnológico de Matehuala</h1>

<blockquote class="blockquote text-right">
    <p class="mb-0">
        Su privacidad y confianza son muy importantes para el Tecnológico Nacional de México, Campus Instituto Tecnológico de Matehuala (TecNM-ITMH), por lo que queremos asegurarnos que los aspirantes, estudiantes, exalumnos, exalumnas y empresarios conozcan las medidas que adoptamos en relación a salvaguardar la privacidad, integridad, tratamiento y protección de sus datos personales, en apego a la Ley Federal de Transparencia y Acceso a la Información Pública, Lineamientos y demás normatividad aplicable, teniendo como contacto al departamento de Comunicación y Difusión.
        El Departamento de contacto tiene su domicilio en Carretera 57 Km 5.5 tramo Saltillo -Matehuala,  C.P. 78746, Matehuala S.L.P:, con un horario de atención de lunes a viernes de 9:00 a 20:00 horas y correo electrónico privacidaddedatos@itmatehuala.edu.mx
    </p>
    <ul>
        Sus datos serán tratados para las siguientes finalidades:
        <li>
            Finalidad Primaria. TecNM-ITMH tratará sus datos personales para llevar a cabo todas o alguna de las actividades necesarias para el cumplimiento de las obligaciones que se originen o deriven de la prestación de los servicios educativos que ofrece: como lo es, integrar un expediente académico por cada aspirante, estudiante y exalumno(a), formar una base de datos estudiantil, realizar la inscripción y reinscripciones de cada ciclo escolar, elaborar y aplicar evaluaciones, expedir credenciales, certificados, diplomas, constancias de estudios, títulos, realizar planes de estudios, emitir recibos oficiales de cobro, realizar la cobranza por los servicios prestados a empresas, y en general todos los servicios que sean necesarios para la existencia, mantenimiento y cumplimiento de la prestación de servicios educativos a cargo del TecNM-ITMH.
        </li>
        <li>
            Finalidades Secundarias: TecNM-ITMH podrá tratar sus datos personales para llevar a cabo alguna o todas de las siguientes finalidades que no necesariamente derivan de la contratación de los servicios educativos del TecNM-ITMH: mercadotecnia, publicidad o prospección comercial, dar publicidad a nuestros servicios, evaluar la calidad del servicio o de alguno de nuestros planteles, evaluar profesores y personal administrativo, realizar estudios estadísticos y mantener actualizados nuestros registros para poder responder a consultas, invitarle a eventos, hacer de su conocimiento proyectos estudiantiles, programas y promociones.
        </li>
    </ul>
    <p>Para las finalidades señaladas en el presente aviso de privacidad, podemos recabar sus datos personales de distintas formas:</p>
    <p>Cuando se proporciona directamente; esto es, usted nos  proporciona por diversos medios, cuando acude a nuestras instalaciones, cuando realiza algún tipo de trámite con el TecNM-ITMH, cuando se inscribe a alguno de nuestros cursos.</p>
    <p>
        Cuando visita nuestro sitio de Internet o utiliza nuestros servicios en línea; o bien vía telefónica.
    </p>
    <p>
        Los datos que recabamos por este medio pueden ser:
    </p>
    <p>
        Datos de identificación y contacto del aspirante, estudiante, exalumno(a) y empresas que incluye dirección completa, teléfono fijo y celular, dirección electrónica de redes sociales, antecedentes escolares, historiales, diplomas y certificados académicos previos. Datos de identificación y contacto del lugar donde labora el estudiante y exalumno(a) (en su caso). Datos de identificación y contacto de los padres, tutores o responsables económicos de los aspirantes y estudiantes, que incluye dirección completa, teléfono fijo y celular, dirección electrónica.
    </p>
    <p>
        Le comunicamos que el TecNM-ITMH únicamente recaba como datos sensibles, aquellos consistentes en el estado de salud presente del estudiante, para el caso de requerir atención medica especial y a efecto de evaluar su integración a alguna actividad deportiva o extra curricular.
    </p>
    <p>
        De igual forma, TecNM-ITMH algunas veces requiere información financiera o patrimonial del estudiante, persona económicamente a cargo del estudiante; o bien, de la sociedad donde labora el estudiante, particularmente en el caso de contar con becas o convenios.
    </p>
    <p>
        Respecto de dichos datos personales, el TecNM-ITMH se compromete a tratarlos bajo las más estrictas medidas de seguridad que garanticen su confidencialidad y además requerimos de su consentimiento expreso, para efecto de su tratamiento, por lo que solicitamos que acepte que el TecNM-ITMH obtenga, use, divulgue o almacene los mismos.
    </p>
    <p>
        En este sentido, si consiente que sus datos personales sensibles sean tratados conforme a los términos y condiciones del presente aviso de privacidad, acepto las condiciones del aviso de privacidad.
    </p>
    <p>
        Es importante puntualizar que, el TecNM-ITMH NO recaba ni trata por medio alguno información que revele aspectos de origen racial o étnico, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas o preferencia sexual.
    </p>
    <p>
        En caso de que no desee que sus datos personales sean tratados para las finalidades secundarias; o bien, usted no desea recibir por parte del TecNM-ITMH mensajes promocionales o comunicados vía teléfono fijo, celular o correo electrónico; puede enviar un correo de solicitud a la siguiente dirección privacidaddedatos@itmatehuala.edu.mx. Si usted no manifiesta su negativa para dichas finalidades, entenderemos que nos ha otorgado su consentimiento tácito.
    </p>
    <p>
        Le comunicamos que sus datos, si pueden ser compartidos dentro y fuera del país con autoridades nacionales (federales y/o locales) o extranjeras, incluyendo la Secretaría de Educación Pública; así como, a instituciones educativas y asociaciones subsidiarias, afiliadas o que en un futuro se afilien o celebren algún convenio con el TecNM-ITMH, incluyendo la Federación de Instituciones Mexicanas Particulares de Educación Superior (FIMPES) y Asociación Nacional de Universidades e Instituciones de Educación Superior (ANUIES) , Centros de Investigación y en general Centros Educativos con los cuales el TecNM-ITMH haya firmado convenios y que se deriven del cumplimiento de las obligaciones y finalidades antes precisadas.
    </p>
    <p>
        Si usted no manifiesta su oposición, a la transferencia de sus datos personales, se entenderá otorgado el consentimiento de forma tácita. Por el contrario, en caso de que en este momento desee manifestar su negativa de consentimiento, Usted puede enviar un correo a la dirección privacidaddedatos@itmatehuala.edu.mx manifestando lo anterior, a efecto de que se tomen las anotaciones correspondientes.
    </p>
    <p>
        Así mismo, en virtud de que manejamos datos personales sensibles referentes al estado de salud presente del alumno; así como, información relacionada con los datos financieros o patrimoniales del alumno o persona económicamente a su cargo, en caso de trasferir por cualquier medio dicha información, requerimos de su consentimiento expreso.
    </p>
    <p>
        Medios para ejercer mis derechos de Acceso, Rectificación, Cancelación y Oposición al tratamiento de mis datos.
    </p>
    <ul>
        <li>
            Acceso. Tiene derecho a conocer qué datos personales tenemos de usted y condiciones de uso de las mismas, por lo que en cualquier momento, puede solicitar información sobre los datos personales que el TecNM-ITMH, conserve en su expediente o en sus bases de datos.
        </li>
        <li>
            Rectificación. De igual forma, es su derecho solicitar la corrección de su información personal, en caso de que tenga algún error o se encuentre desactualizada, inexacta o completa.
        </li>
        <li>
            Cancelación. Es el derecho que tiene a que eliminemos nuestras bases de datos o eliminemos su expediente cuando considere que los mismos, no están siendo utilizados conforme a los principios, deberes y obligaciones previstas en las normativas de protección de datos.
        </li>
        <li>
            Oposición. Finalmente, también tiene derecho a oponerse al uso de sus datos personales para fines específicos.
        </li>
    </ul>
    <p>Todos estos derechos son conocidos como ARCO y pueden hacerlos valer en cualquier momento, al igual que su derecho de revocar el consentimiento que hubiese sido otorgado con anterioridad y que hubiera sido necesario para el tratamiento de sus datos (principalmente datos sensibles), así como, limitar el uso o divulgación de los mismos</p>
    <p>
        Lo anterior, se realiza mediante una petición, que se ingresa personalmente ante la Unidad Responsable, cuyos datos aparecen al principio del presente aviso; o bien, enviando una petición o solicitud vía correo electrónico a la siguiente dirección: privacidaddedatos@itmatehuala.edu.mx
    </p>
    <p>
        La petición se ingresará mediante un escrito libre, sencillo y breve donde: 1) describa con precisión cuales o cuales de los derechos ARCO desea ejercitar, 2) indique respecto de que datos personales se desean ejercer los derechos antes precisados; es importante también, 3) aportar cualquier elemento o documento que facilite la localización de los datos personales. De igual forma, es de suma importancia que 4) acreditar correctamente su identidad como titular de los derechos; o en su caso, aportar los documentos de representación correspondientes, además de 5) proporcionar dirección y 6) correo electrónico para efectos de enviar respuesta a la petición.
    </p>
    <p>
        El plazo máximo de respuesta, a su petición es de 20 días contados a partir de la fecha en que se recibió la solicitud, informándole sobre la procedencia o no de la misma, mediante el correo electrónico que nos fuere proporcionado al ingresar su petición.
    </p>
    <p>
        Cabe señalar que el ejercicio de sus derechos ARCO, o bien su derecho de revocación de consentimiento es gratuito, en el entendido que el TecNM-ITMH podrá solicitarle el pago únicamente de los gastos justificados de envió o costos de reproducción de la información que solicite.
    </p>
    <p>
        En caso de ejercer el derecho de acceso a la información y haberse emitido resolución favorable, enviaremos a la brevedad (dentro de los 15 días siguientes a la fecha de respuesta) los datos personales solicitados, mismos que preferentemente serán enviados vía el correo electrónico; en caso de que requiera la expedición de copias simples, es importante que así lo manifieste en su solicitud, a efecto de ser preparadas, calcular los costos de reproducción y comunicarle el lugar y horario donde se pondrán a su disposición.
    </p>
    <p>
        Así mismo, se le comunica que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. De igual forma, usted deberá considerar que en ciertos casos, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicios que nos solicitó, o la conclusión de su relación con nosotros, según corresponda.
    </p>
    <p>
        Es grato comunicarle que el TecNM-ITMH ha adoptado y mantiene las medidas de seguridad, administrativas, técnicas y físicas, necesarias y a su alcance para proteger los datos personales contra daño, perdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado de sus datos personales.
    </p>
    <p>

        Si presume que sus derechos de protección de datos personales, han sido lesionados por alguna de nuestras conductas o resoluciones; no obstante, haber ingresado PREVIAMENTE la petición correspondiente ante el TecNM-ITMH, podrá interponer una queja o denuncia al INAI, para mayor información visite www.inai.org.mx
    </p>
    <p>
        El TecNM-ITMH se reserva el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, para la atención de novedades legislativas, políticas internas o nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios.
    </p>
    <p>
        Dichas modificaciones o actualizaciones siempre estarán disponibles al público a través de la página de Internet http://www.itmatehuala.edu.mx
    </p>
    <p>
        Fecha de última actualización 20 de agosto de 2019.
    </p>
    <footer class="blockquote-footer">Fin del aviso de privacidad <cite title="Source Title">Source Title</cite></footer>
</blockquote>




