
@model SEPRET.Models.Custom.CommentTypeVM

<div class="card-body">
    <form id="Form">

        <div class="form-group bmd-form-group" style="display: none;">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="material-icons">vpn_key</i></div>
                </div>
                <label class="bmd-label-floating prepend-label-margin">Id</label>
                @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @type = "text" })
            </div>
        </div>

        <div class="form-group bmd-form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="material-icons">gavel</i></div>
                </div>
                <label class="bmd-label-floating prepend-label-margin">Nombre</label>
                @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control text-capitalize", @type = "text" })
            </div>
        </div>

    </form>
</div>

